* {
  margin: 0;
  padding: 0;
}
html{
  scroll-behavior: smooth;
}
:root {
  --container-text-height: 60px;
  --button-bg:#6c6cfe;
--button-color:#ffffff;
--button-hover-bg:#6161e4;
--button-hover-color:#ffffff;
}

.topnav {
  position: relative;
  overflow: hidden;
  background-color: black;
  height: 60px;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 7px 16px;
  text-decoration: none;
  font-size: 14px;
}



.topnav a.active {
  background-color: #04aa6d;
  color: white;
}

.topnav-centered {
  float: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  display: inline-flex;
}

.topnav-right {
  float: right;
}
.topnav-left{
float:left;
}

.topleft{
  background-color: rgb(231, 32, 32);
  color: white;
  float: right;
  margin-top: 14px;
  margin-right: 5px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
}

/* Responsive navigation menu (for mobile devices) */
@media screen and (max-width: 600px) {
  .topnav a,
  .topnav-right {
    float: none;
    display: block;
  }

  .topnav-centered a {
    position: relative;
    top: 0;
    left: 0;
    transform: none;
  }
}



#btn-dark {
  background-color: rgb(231, 32, 32);
  color: white;
  float: right;
  width: 120px;
  height: 30px;
  margin-top: 14px;
  margin-right: 5px;
  border: none;
  border-radius: 50px;
  padding: 5px 5px;
  cursor: pointer;
}

.content {
  font-size: verdana;
  font-size: 20px;
  font-weight: bold;
  line-height: var(--container-text-height);
}
.logo {
  padding: 0 13px;
  filter: invert(40);
}
.icon {
  margin-top: 10px;
  height: 35px;
  line-height: var(--container-text-height);
  width: 30px;
}

.container {
  width: 70%;
  overflow: hidden;
  margin: 20px auto;
}

/*Heading 1 Style*/
.heading1 {
  text-align: center;
  font-family: verdana;
  width: 100%;
  height: 35px;
  line-height: 35px;
  font-size: 20px;
  border: none;
  color: white;
  border-radius: 10px 10px 10px 10px;
  margin-top: 5px;
}

/*Heading 2: For Blue Background */

.heading2 {
  margin-top: 8px;
  background-color: blue;
  width: 100%;
  font-size: 18px;
  border-radius: 10px;
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
    rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
    rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
    font-family: consolas;
}
.heading2 h3 {
  margin-left: 13px;
  margin-right: 10px;
  text-align: justify;
  font-family: consolas;
}

/*Paragraph,list style*/
p,
ul > li,
ol > li {
  margin-top: 10px;
  font-size: 19px;
  font-family: arial;
}

/*Height of Code Block */
pre {
  max-height: 350px;
}

pre:focus {
  outline: none;
}
/* For Span code Mark */
.markcode {
  background-color: #2b3233;
  color: #fff;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  padding: 1px 3px;
  font-size: 18px;
  margin: 0 5px;
  font-family: monospace !important;
}
.marku {
  border-bottom: 2px solid black;
  font-weight: bold;
  font-size: 20px;
  font-family: arial, verdana;
  align-content: center;
  align-self: center;
}

ul {
  margin-top: 14px;
}

/*table style*/

.table-design {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.table-design td,
.table-design th {
  border: 1px solid #ddd;
  padding: 8px;
}

.table-design tr:nth-child(even) {
  background-color: #f2f2f2;
}

.table-design tr:hover {
  background-color: #ddd;
}

.table-design th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04aa6d;
  color: white;
}

/*Code Output*/
.output {
  border-left: 10px solid #1dbd14;
  box-shadow: -1px 0px 0px 0px #358ccb, 0px 0px 0px 1px #dfdfdf;
  background-color: #fdfdfd;
  background-image: linear-gradient(
    transparent 50%,
    rgba(69, 142, 209, 0.04) 50%
  );
  background-size: 3em 3em;
  background-origin: content-box;
  background-attachment: local;
  font-size: 21px;
  overflow:auto;
}
.outputh {
  font-size: 19px;
  font-weight: bold;
  font-family: cursive;
}

.syntax {
  border-left: 10px solid red;
  box-shadow: -1px 0px 0px 0px #358ccb, 0px 0px 0px 1px #dfdfdf;
  background-color: #fdfdfd;
  background-image: linear-gradient(
    transparent 50%,
    rgba(69, 142, 209, 0.04) 50%
  );
  background-size: 3em 3em;
  background-origin: content-box;
  background-attachment: local;
  font-size: 21px;
}

/*Alert Message*/
.alert-message {
  position: relative;
  display: block;
  padding: 15px;
  border: 1px solid var(--border-color);
  border-radius: 6px;
  font-family: arial;
  font-size: 18px;
  color: black;
}
.alert-message.alert-success {
  background-color: rgba(34, 245, 121, 0.03);
  border: 1px solid rgba(34, 245, 121, 0.5);
}
.alert-message.alert-info {
  background-color: rgba(55, 153, 220, 0.03);
  border: 1px solid rgba(55, 153, 220, 0.5);
}
.alert-message.alert-warning {
  background-color: rgba(185, 139, 61, 0.03);
  border: 1px solid rgba(185, 139, 61, 0.5);
}
.alert-message.alert-error {
  background-color: rgba(231, 76, 60, 0.03);
  border: 1px solid rgba(231, 76, 60, 0.5);
}
.alert-message:before {
  font-family: "Font Awesome 5 Free";
  font-size: 16px;
  font-weight: 900;
  display: inline-block;
  margin: 0 5px 0 0;
}
.rtl .alert-message:before {
  margin: 0 0 0 5px;
}
.alert-message.alert-success:before {
  content: "\f058";
  color: rgba(34, 245, 121, 1);
}
.alert-message.alert-info:before {
  content: "\f05a";
  color: rgba(55, 153, 220, 1);
}
.alert-message.alert-warning:before {
  content: "\f06a";
  color: rgba(185, 139, 61, 1);
}
.alert-message.alert-error:before {
  content: "\f057";
  color: rgba(231, 76, 60, 1);
}

/*Scroll Bar Setting*/

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
  border-radius: 10px;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: black;
  border-radius: 30px;
}

::-webkit-scrollbar-thumb:vertical {
  border-radius: 10px;
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.44, rgb(122, 153, 217)),
    color-stop(0.72, rgb(73, 125, 189)),
    color-stop(0.86, rgb(28, 58, 148))
  );
  height: 100px;
}
::-webkit-scrollbar-thumb:horizontal {
  border-radius: 25px 25px 25px 25px;
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.44, rgb(122, 153, 217)),
    color-stop(0.72, rgb(73, 125, 189)),
    color-stop(0.86, rgb(28, 58, 148))
  );
}
.darkmode {
  background-color: black;
  color: white;
}
.dark-icon {
  width: 40px;
  margin-top: 18px;
  margin-left: 10px;
  float: right;
}
.iconbg {
  filter: invert(40);
}



#myBtn{
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: red;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 14px;
  height:45px;
  line-height: 10px;
}

#myBtn:hover {
  background-color: rgb(128, 11, 11);
}

.back-top{
  width: 13px;
  height: 10px;
  line-height: 10px;
  filter: invert(40);
  font-weight: bolder;
  cursor: pointer;
  font-size: 14px;
  text-align: center;
  line-height: 36px;
}

table{
  margin-top:9px;
  width:100%;

}
table,td,tr,tbody,th{
  border: 1px solid #b3a5a5;
  border-collapse: collapse;
}
th{
  height: 40px;
  line-height: 40px;
  font-size: 19px;
  background-color: green;
  color:white;
  font-family: arial;
}
td{
  font-size: 20px;
  font-family: arial;
  text-align: center;
}
/* a{
  text-decoration: none;
} */
td>a{
  text-decoration: none;
  font-weight: bold;
  font-family: consolas;
}
.display{
  font-style: italic;
  font-family: consolas;
  font-size: 22px;
}

ul>li::before{
  content:"•";
  margin-right: 5px;
}
footer{
  position: relative;
  bottom: 0;
  background-image: linear-gradient(90deg, #020024 0%, #090979 35%, #00d4ff 100%);
  width:100%;
  height: 70px;
  line-height: 70px;
  text-align: center;
}
footer p{
  font-family: verdana;
  color:white;
}

a{
  text-decoration: none;
  font-weight: bold;
  color:blue;
}
.center{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width:30%;
}

.link-btn{
  margin-top:20px;
  font-family: verdana;
  color:white;
  border-radius: 10px;
  font-size:16px;
  padding: 14px;
}
.link-btn::before{
  content:"-";
  margin-right: 3px;
}

/* perspective property in 3D */
#perspective-1 {
  position: relative;
  height: 200px;
  width: 200px;
  margin: 50px;
  padding: 10px;
  border: 1px solid black;
}

#perspective-2 {
  padding:50px;
  position: absolute;
  border: 1px solid black;
  background-color: red;
  -webkit-transform: rotateX(45deg); /* Safari 3-8 */
  transform: rotateX(45deg);
}



